.wrap {
}

.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #000;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.btn_disabled {
  pointer-events: none;
  opacity: 0.4;
}
