@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__cart {
    width: fit-content;
    flex-shrink: 0;

    @media (max-width: 1279px) {
      order: 3;
    }

    @media (max-width: 1023px) {
      order: 0;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
